---
import Github2 from "./icons/Github2.astro"
import Preview from "./icons/Preview.astro"


const {title, description, link, github, image, tags} = Astro.props
---

<article class="grid md:grid-cols-2 gap-8 group">
  <div class="group overflow-clip rounded-xl relative ">
    <img
    src={image}
    class=" w-full rounded-xl h-full object-top transition duration-500 group-hover:-translate-y-1 group-hover:scale-105" loading="lazy"
  />
 </div>
  <div class="flex flex-col gap-4">
    <h2 class="text-2xl text-blue-100 font-bold">{title}</h2>
    <p class="flex-1 text-slate-300">{description}</p>
    <div class="flex justify-start gap-4">
      <a href={github} target="_blank">
        <Github2 class="size-8 hover:scale-110 hover:text-sky-200"/>
      </a>
      <a href={link} target="_blank">
        <Preview class="size-9 hover:scale-110 hover:text-sky-200"/>
      </a>
    </div>
  </div>
</article>